<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Yape</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/static/materialize-css/dist/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/sweetalert.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/pantalla2.css">
</head>
<body>
	<div class="container">
		<div class="row center">
			<figure>
				<img src="../img/icons/message.png" alt="imagen mensaje">
				<figcaption>
					<h4 class="texto-en-negritas">Ahora ingresa tu Código</h4>
				</figcaption>
			</figure>
			<h6 class="center">
				Enviamos un SMS con el codigo de validación al numero 
				<strong>
					<h6 id="numero" class="texto-en-negritas"></h6>
				</strong>
			</h6>
		</div>
		<div class="row">
			<div class="col s12">
			  <div class="row">
			    <div class="input-field col s12">
			      <i class="material-icons prefix">lock_outline</i>
			      <input type="text" id="autocomplete-input" maxlength="6">
			      <label for="autocomplete-input" class="center">Codigo</label>
			    </div>
			  </div>
			  <div class="row center">
				<figure class="inline">
				<p class="inline texto-gris  margin-top-negativo">Reintentar en 
					<img src="../img/icons/clock.png" class="imagen-size">
				<p id="incremento" class="inline texto-gris">21</p></p>
				</figure>		  	
			  </div>
			</div>
		</div>
	</div>
	<script src='/static/jquery/dist/jquery.min.js'></script>
	<script src='/static/materialize-css/dist/js/materialize.min.js'></script>
	<script src='../assets/js/sweetalert.min.js'></script>
	<script src='../assets/js/validacionNumeros.js'></script>
	<script src='../assets/js/pantalla3.js'></script>
</body>
</html>