<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Yape</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/static/materialize-css/dist/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/pantalla8.css">
</head>
<body>
	<div class="container-fluid">
		<section class="row">
			<div class="contenedor-uno">
				<div class="row">
					<div class="col offset-s1 s11 derecha">
						<img src="../img/icons/engine.png" class="tamano-pequeno">
					</div>
				</div>
				<figure class="center">
					<img src="../img/icons/happy-face.png" alt="imagen" class="altura">
					<figcaption>
						<h4 class="texto-blanco">Hola</h4>
						<h5 class="texto-azul inline"><img src="../img/icons/eye.png" class="inline tamano-veinte">Mostrar Saludo</h5>
					</figcaption>
				</figure>
			</div>
		</section>
		<section class="row bottom-cero">
			<div class="contenedor-dos">
				<div class="row">
					<p class="texto-blanco col s10">ULTIMOS MOVIMIENTOS</p>
					<div class="col s2">
						<img src="../img/icons/right-arrow-circular-button.png" class="tamano-pequeno">
					</div>
				</div>
				<div class="row">
					<figure class="col s6 margin-laterales">
						<img src="../img/icons/icon.png" alt="imagen" class="tamano-cien">
					</figure>
					<div class="col s6">
						<p class="texto-blanco">
							¿Aún no realizas tu primer pago?
						</p>
						<p class="texto-blanco">
							Es rapido y sencillo
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col s6 center">
						<img src="../img/icons/send.png" class="tamano-sesenta">
						<p class="texto-blanco center">ENVIAR PAGO</p>
					</div>
					<div class="col s6 center">
						<img src="../img/icons/code-qr.png" class="tamano-sesenta">
						<p class="texto-blanco center">RECIBIR PAGO</p>
					</div>
				</div>
			</div>
		</section>
	</div>
	<script src='/static/jquery/dist/jquery.min.js'></script>
	<script src='/static/materialize-css/dist/js/materialize.min.js'></script>
</body>
</html>