<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Yape</title>
	<link rel="stylesheet" type="text/css" href="/static/materialize-css/dist/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/pantalla5.css">
</head>
<body>
	<div class="container contenedor">
		<div class="row center">
			<img src="../img/icons/check.png">
			<h4 class="texto-morado">
				¡Bien!
			</h4>
			<h6 class="texto-morado">
				Ahora puedes usar Yape
			</h6>
		</div>
	</div>
	<script src='/static/jquery/dist/jquery.min.js'></script>
	<script src='/static/materialize-css/dist/js/materialize.min.js'></script>
	<script src='../assets/js/pantalla5.js'></script>
</body>
</html>