body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.iconos{
	height: 100px;
}
.blanco{
	background-color: white;
}
.carousel .indicators .indicator-item{
	background-color: red;
}
.carousel-posicion{
	margin-top: 400px;
}

