body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.contenedor-principal{
	height: 400px;
}
.blanco{
	background-color: white;
}
.texto-en-negritas{
	font-weight: bold;
}
.texto-gris{
	color:  #8f8f8f;
}
.tamano-doce{
	font-size: 12px;
}
.tamano-cincuenta-seis{
	font-size: 56px;
}
.carousel .indicators .indicator-item{
	background-color: red;
}
.carousel .carousel-item > img{
	width: 40%;
}
.carousel.carousel-slider{
	margin-top: 100px;
}
.btn-registro{
	width: 100%;
	height: 100%;
	font-size: 22px;
	background: #fbd43b;
}
.contenedor-btn{
	height: 80px;
}
.inline{
	display: inline-block;
}
.imagen-size{
	width: 18px;
	height: 18px;
}
.margin-top-negativo{
	margin-top: -60px;
}
.altura{
	height: 160px;
}
.texto-azul{
	color: #00c3a3;
}
.top{
	margin-top: 15px;
}
.texto-morado{
 color: #451e36;
}
.derecha{
	text-align: right;
}
.tamano-pequeno{
	width: 30px;
	height: 30px;
}
.tamano-sesenta{
	width: 60px;
	height: 60px;
}
@media only screen and (max-width: 500px) {
    body {
        background-color: lightblue;
    }
}