@import url('main.css');
body{
	background-color: #451e36;
}
.contenedor-uno{
	background-color: #451e36;
}
.contenedor-dos{
	background-color:  #38052a;
}
.tamano-veinte{
	width: 20px;
	height: 20px;
}
.tamano-cien{
	width: 100%;
	height: 100%;
}
.texto-blanco{
	color: white;
}
.margin-laterales{
	margin-right: 0;
	margin-left: 0;
}
.bottom-cero{
	margin-bottom: 0;
}